version: "3.2"
services:
  rabbitmq:
    container_name: rabbitmq
    restart: on-failure
    build: ./rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
      - 15674:15674
    environment:
      - RABBITMQ_CONFIG_FILE=/etc/rabbitmq/rabbitmq.conf
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    deploy:
      resources:
        limits:
          memory: 512M

  textanalyzer.worker:
    image: ${DOCKER_REGISTRY-}textanalyzerworker
    container_name: textanalyzer
    build:
      context: ./textAnalyzer/
      dockerfile: TextAnalyzer.Worker/Dockerfile
    environment:
      - DOTNET_ENVIRONMENT=Production
      - WorkerSettings__Hostname=rabbitmq
      - WorkerSettings__Port=5672
    depends_on:
      - rabbitmq
    deploy:
      resources:
        limits:
          memory: 512M

  scraper:
    container_name: scraper
    build: ./scraper
    depends_on:
      - rabbitmq
    volumes:
      - ~/:/host
    deploy:
      resources:
        limits:
          memory: 512M

  text_extractor:
    container_name: text_extractor
    build: ./textExtractor
    restart: on-failure
    depends_on:
      - rabbitmq
    volumes:
      - ~/:/host
    deploy:
      resources:
        limits:
          memory: 512M

  frontend:
    container_name: frontend
    build: ./frontend
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - /app/node_modules
      - ./frontend:/app
    ports:
      - 3000:3000
    depends_on:
      - rabbitmq
      - scraper
    deploy:
      resources:
        limits:
          memory: 768M

  ocr_service:
    container_name: ocr_service
    build: ./ocr_service
    restart: on-failure
    depends_on:
      - rabbitmq
    volumes:
      - ~/:/host
    deploy:
      resources:
        limits:
          memory: 512M

  microsoftservice:
    image: ${DOCKER_REGISTRY-}microsoftservice
    container_name: microsoft_service
    build:
      context: ./microsoft_service/
      dockerfile: microsoftService/Dockerfile
    environment:
      - DOTNET_ENVIRONMENT=Production
      - WorkerSettings__Hostname=rabbitmq
      - WorkerSettings__Port=5672
    depends_on:
      - rabbitmq
    volumes:
      - ~/:/host
    deploy:
      resources:
        limits:
          memory: 512M

  state_service:
    container_name: state_service
    build: ./state_service
    restart: on-failure
    depends_on:
      - rabbitmq
    volumes:
      - ~/:/host
    deploy:
      resources:
        limits:
          memory: 512M
